.skill-card {
    transition: border-left .5s linear;
}
.skill-card-0 {
    border-left: 8px solid #a40000;
}
.skill-card-1 {
    border-left: 8px solid #ff2f00;
}
.skill-card-2 {
    border-left: 8px solid #ffae00;
}
.skill-card-3 {
    border-left: 8px solid #BFFF00;
}
.skill-card-4 {
    border-left: 8px solid #00FF00;
}